[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-cors = "*"
flask-migrate = "*"
bcrypt = "*"
faker = "*"
marshmallow = "*"
flask = "*"
gunicorn = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"
flask-jwt-extended = "*"

[dev-packages]

[requires]
python_version = "3.8"
